* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    margin: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 21px;
    height: auto;
    width: 70%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/* NAV BAR */

.checkout-nav {
    height: 35px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.checkout-nav ul {
    list-style-type: none;
    display: flex;
}

.checkout-nav ul li {
    width: 200px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

.normal {
    color: gray;
    border-bottom: 1px solid gray;
}

.highlighted {
    font-weight: 700;
    color: #4f7cac;
    border-bottom: 2px solid #4f7cac;
}


/* MAIN PAYMENT SECTION */

.illustration-image {
    width: 300px;
    height: 300px;
}

.left-checkout-section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

.right-payment-info {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.payment-method-text {
    margin-bottom: 5px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.radio-container {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.radio-container label:not(:last-child) {
    margin-right: 20px;
}

.card-info-container {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.card-info {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: space-evenly;
    gap: 1rem;
}

.card-info label {
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 13px;
}

.card-info input {
    margin-top: 5px;
    border: 1px solid #333333;
    border-radius: 5px;
    letter-spacing: 0.025em;
    height: 25px;
}

.full-width {
    width: 250px;
    padding-left: 5px;
}

.expire-ccv {
    display: flex;
    justify-content: space-between;
}

.expire-ccv input {
    text-align: center;
}

.expire-ccv label {
    display: flex;
    flex-direction: column;
}

.expire-date {
    border: 1px solid #333333;
    border-radius: 5px;
    margin-top: 5px;
}

.expire-date input {
    margin: 0;
    border: none;
}

.expire-date span {
    font-size: 14px;
    font-weight: 700;
}

.save-card-info {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 5px;
    margin: 1rem;
    letter-spacing: 0.025em;
}

input {
    background-color: #f7f7f7;
}

input:focus {
    outline: none;
}

.button {
    margin: 20px;
    width: 300px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05em;
    color: #f7f7f7;
    background-color: #554fac;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: darkcyan;
}

.background-mainsection-checkout {
    background-image: url("/P5_Teddy/Teddy_Img/teddy-checkout-svg.jpg");
    background-repeat: no-repeat;
    background-position: cover;
}