@import url(navbar.css);
@import url(footer.css);
@import url(checkout-page.css);
.body {
    width: auto;
    height: auto;
}

.banner {
    height: 30rem;
    width: auto;
    font-size: 250%;
    word-spacing: 0.5em;
    letter-spacing: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-text1 {
    color: peachpuff;
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner-text2 {
    color: peachpuff;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background-img {
    background-image: url("/P5_Teddy/Teddy_Img/TD_Background/Ted_Child.webp");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.background-mainsection {
    background-image: url("/P5_Teddy/Teddy_Img/TD_Background/pexels-johannes-plenio-2080960.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.Info-block {
    max-width: 920px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0 auto;
    padding: 80px;
}

.Info-block__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.poloroid {
    max-width: 25rem;
    max-height: 45rem;
    background-color: white;
    margin-bottom: 1.563rem;
    margin: 2rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5rem;
    position: relative;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 30rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.product-info {
    text-align: left;
    padding: 0.625rem 1.25rem;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product-name {
    font-weight: 700;
}